@if (unauthorizedPerson==false) {
<div>
  <div class="container mt-5">
    <h3 class="text-center m-1">You are not authorized to view this table.</h3>
  </div>
</div>
} @if (unauthorizedPerson==true) {
<div class="container mt-2">
  <button type="submit" class="btn btn-outline-success" (click)="addRow()">Add Row</button>
  <form [formGroup]="forms" (ngSubmit)="onSubmit()">
    <div formArrayName="formitem">
      <table class="table">
        <thead>
          <tr>
            @for(colums of displayedColumns;track colums){
            <th>{{ colums }}</th>
            }
          </tr>
        </thead>
        <tbody>
          @for(f of getformitems().controls;track f;let i=$index){
          <tr [formGroupName]="i">
            <td>
              <select class="form-control" id="riskType" formControlName="riskType">
                <option disabled selected value="">type</option>
                <option value="Financial">Financial</option>
                <option value="Operational">Operational</option>
                <option value="Technical">Technical</option>
                <option value="HumanResource">HumanResource</option>
                <option value="External">External</option>
                <option value="Legal">Legal</option>
                <option value="Reputational">Reputational</option>
                <option value="Strategic">Strategic</option>
              </select>
            </td>
            <td>
              <select class="form-control" id="severity" formControlName="severity">
                <option disabled selected value="">type</option>
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
              </select>
            </td>

            <td>
              <select class="form-control" id="impact" formControlName="impact">
                <option disabled selected value="">type</option>
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
              </select>
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                id="riskType"
                formControlName="description"
                placeholder="Text"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                id="severity"
                placeholder="Text"
                formControlName="status"
              />
            </td>
            <td>
              <input
                type="text" 
                class="form-control"
                id="impact"
                placeholder="yyyy-dd-mm"
                formControlName="closureDate"
              />
            </td>
            <td>
              <i class="fs-2 bi-trash-fill danger text-danger" (click)="removeRow(i)"></i>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
}
