
<div class="container mt-2">
  <button type="submit" class="btn btn-outline-success" (click)="addRow()">Add Row</button>
  <form [formGroup]="resourcesForms" (ngSubmit)="onSubmit()">
    <div formArrayName="resourcesitems">
      <table class="table">
        <thead>
          <tr>
            @for(colums of displayedColumns;track colums){
            <th>{{ colums }}</th>
            }
          </tr>
        </thead>
        <tbody>
          @for(f of resourcesitems().controls;track f;let i=$index){

          <tr [formGroupName]="i">
            <td><input type="text" class="form-control" id="name" formControlName="name" [readOnly]="unauthorizedPerson"/></td>
            <td><input type="text" class="form-control" id="role" formControlName="role" [readOnly]="unauthorizedPerson"/></td>
            <td>
              <input
                type="text"
                class="form-control"
                id="allocationPercentage"
                formControlName="allocationPercentage"
                [readOnly]="unauthorizedPerson"
              />
            </td>
            <td>
              <input type="text" placeholder="yyyy-mm-dd" class="form-control" id="startDate" formControlName="startDate" [readOnly]="unauthorizedPerson" />
            </td>
            <td>
              <input type="text" placeholder="yyyy-mm-dd" class="form-control" id="endDate" formControlName="endDate" [readOnly]="unauthorizedPerson" />
            </td>
            <td>
              <input type="text" class="form-control" id="comment" formControlName="comment" [readOnly]="unauthorizedPerson"/>
            </td>
            <td>
              <i class="fs-2 bi-trash-fill danger text-danger" (click)="removeRow(i)"></i>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
  
