
<div class="container mt-2">
  <button type="submit" class="btn btn-outline-success" (click)="addRow()">Add Row</button>
  <form [formGroup]="forms" (ngSubmit)="onSubmit()">
    <div formArrayName="formitem">
      <table class="table">
        <thead>
          <tr>
            @for(colums of displayedColumns;track colums){
            <th>{{ colums }}</th>
            }
          </tr>
        </thead>
        <tbody>
          @for(f of getformitems().controls;track f;let i=$index){
          <tr [formGroupName]="i">
            <td>
              <input
                type="text"
                class="form-control"
                id="title"
                formControlName="title"
                placeholder="Text"
                [readOnly]="unauthorizedPerson"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                id="startDate"
                formControlName="startDate"
                placeholder="yyyy-mm-dd"
                [readOnly]="unauthorizedPerson"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                id="completionDate"
                formControlName="completionDate"
                placeholder="yyyy-mm-dd"
                [readOnly]="unauthorizedPerson"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                id="approvalDate"
                formControlName="approvalDate"
                placeholder="yyyy-mm-dd"
                [readOnly]="unauthorizedPerson"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                id="status"
                placeholder="Select any from Delay"
                formControlName="status"
                [readOnly]="unauthorizedPerson"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                id="comments"
                placeholder="Text"
                formControlName="comments"
                [readOnly]="unauthorizedPerson"
              />
            </td>
            <td>
              <i class="fs-2 bi-trash-fill danger text-danger" (click)="removeRow(i)"></i>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

