
<div class="container mt-2">
  <button type="submit" class="btn btn-outline-success" (click)="addRow()">Add Row</button>
  <form [formGroup]="forms" (ngSubmit)="onSubmit()">
    <div formArrayName="items">
      <table class="table">
        <thead>
          <tr>
            @for(colums of displayedColumns;track colums){
            <th>{{ colums }}</th>
            }
          </tr>
        </thead>
        <tbody>
          @for(f of getformitems().controls;track f;let i=$index){
          <tr [formGroupName]="i">
            <td>
              <input
                type="text"
                class="form-control"
                id="date"
                formControlName="date"
                placeholder="yyyy-mm-dd"
                [readOnly]="unauthorizedPerson"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                id="updates"
                placeholder="text"
                formControlName="updates"
                [readOnly]="unauthorizedPerson"
              />
            </td>
            <td>
              <i class="fs-2 bi-trash-fill danger text-danger" (click)="removeRow(i)"></i>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

