
<div class="container mt-2">
  <button type="submit" class="btn btn-outline-success" (click)="addRow()">Add Row</button>
  <form [formGroup]="forms" (ngSubmit)="onSubmit()">
    <div formArrayName="formitem">
      <table class="table">
        <thead>
          <tr>
            @for(colums of displayedColumns;track colums){
            <th>{{ colums }}</th>
            }
          </tr>
        </thead>
        <tbody>
          @for(f of getformitems().controls;track f;let i=$index){
          <tr [formGroupName]="i">
            <td>
              <select class="form-control" id="level" formControlName="level" >
                <option disabled selected value="">Type</option>
                <option value="Level1">Level 1</option>
                <option value="Level2">Level 2</option>
                <option value="Level3">Level 3</option>
                <option value="Level4">Level 4</option>
                <option value="Level5">Level 5</option>
              </select>
            </td>
            <td>
              <select class="form-control" id="escalationType" formControlName="escalationType">
                <option disabled selected value="">Escalation Type</option>
                <option value="Operational">Operational</option>
                <option value="Financial">Financial</option>
                <option value="Technical">Technical</option>
              </select>
            </td>
            <td>
              <i class="fs-2 bi-trash-fill danger text-danger" (click)="removeRow(i)"></i>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

