
<div class="container mt-2">
  <button type="submit" class="btn btn-outline-success" (click)="addRow()">Add Row</button>
  <form [formGroup]="forms" (ngSubmit)="onSubmit()">
    <div formArrayName="formitem">
      <table class="table">
        <thead>
          <tr>
            @for(colums of displayedColumns;track colums){
            <th>{{ colums }}</th>
            }
          </tr>
        </thead>
        <tbody>
          @for(f of getformitems().controls;track f;let i=$index){
          <tr [formGroupName]="i">
            <td>
              <input
                type="text"
                class="form-control"
                id="dateOfAudit"
                formControlName="dateOfAudit"
                placeholder="yyyy-mm-dd"
                [readOnly]="unauthorizedPerson"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                id="reviewedBy"
                placeholder="Name"
                formControlName="reviewedBy"
                [readOnly]="unauthorizedPerson"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                id="status"
                placeholder="status"
                formControlName="status"
                [readOnly]="unauthorizedPerson"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                id="section"
                placeholder="text"
                formControlName="section"
                [readOnly]="unauthorizedPerson"
              />
            <td>
              <input
                type="text"
                class="form-control"
                id="commentQueries"
                placeholder="text"
                formControlName="commentQueries"
                [readOnly]="unauthorizedPerson"
              />
            <td>
              <input
                type="text"
                class="form-control"
                id="actionItem"
                placeholder="text"
                formControlName="actionItem"
                [readOnly]="unauthorizedPerson"
              />
            </td>
            <td>
              <i class="fs-2 bi-trash-fill danger text-danger" (click)="removeRow(i)"></i>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
