
<div class="container mt-2">
  <button type="submit" class="btn btn-outline-success" (click)="addRow()">Add Row</button>
  <form [formGroup]="forms" (ngSubmit)="onSubmit()">
    <div formArrayName="formitem">
      <table class="table">
        <thead>
          <tr>
            @for(colums of displayedColumns;track colums){
            <th>{{ colums }}</th>
            }
          </tr>
        </thead>
        <tbody>
          @for(f of getformitems().controls;track f;let i=$index){
          <tr [formGroupName]="i">
            <td>
              <input
                type="text"
                class="form-control"
                id="version"
                formControlName="version"
                placeholder="Text"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                id="change"
                placeholder="Text"
                formControlName="change"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                id="changeReason"
                placeholder="Text"
                formControlName="changeReason"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                id="createdBy"
                placeholder="text"
                formControlName="createdBy"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                id="revisionDate"
                placeholder="yyyy-mm-dd"
                formControlName="revisionDate"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control"
                id="approvalDate"
                placeholder="yyyy-mm-dd"
                formControlName="approvalDate"
              />
            <td>
              <input
                type="text"
                class="form-control"
                id="approvedBy"
                placeholder="Text"
                formControlName="approvedBy"
              />
            </td>
            <td>
              <i class="fs-2 bi-trash-fill danger text-danger" (click)="removeRow(i)"></i>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

