<div class="container">
  <div class="row">
    <div class="col-md-2 border m-1 shadow">
      <div class="card p-3 mb-2">
        <h3 class="heading text-center">{{ allProjectData.length }}</h3>
        <span class="text1 text-center">All Projects</span>
      </div>
    </div>
    <div class="col-md-2 border border m-1 shadow">
      <div class="card p-3 mb-2">
        <h3 class="heading text-center">{{ filterData('inprogress').length }}</h3>
        <span class="text1 text-center">In Progress</span>
      </div>
    </div>
    <div class="col-md-2 border m-1 shadow">
      <div class="card p-3 mb-2">
        <h3 class="heading text-center">{{ filterData('hold').length }}</h3>
        <span class="text1 text-center">Hold</span>
      </div>
    </div>
    <div class="col-md-2 border m-1 shadow">
      <div class="card p-3 mb-2">
        <h3 class="heading text-center">{{ filterData('closed').length }}</h3>
        <span class="text1 text-center">Closed</span>
      </div>
    </div>
  </div>
  <div>
    <ul
      class="border-bottom nav nav-tabs my-3 gap-2 flex-row overflow-hidden"
      id="ex1"
      role="tablist"
    >
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          (click)="selectTab('All Progress')"
          role="tab"
          id="allProjectTab"
          aria-controls="All Progress"
          aria-selected="true"
          >All Project</a
        >
      </li>
      <li class="nav-item mx-2" role="presentation">
        <a
          class="nav-link"
          (click)="selectTab('In Progress')"
          role="tab"
          id="inProgressTab"
          aria-controls="In Progress"
          aria-selected="false"
          >In Progress</a
        >
      </li>
      <li class="nav-item mx-2" role="presentation">
        <a
          class="nav-link"
          (click)="selectTab('Hold')"
          role="tab"
          id="holdTab"
          aria-controls="Hold"
          aria-selected="false"
          >Hold</a
        >
      </li>
      <li class="nav-item mx-2" role="presentation">
        <a
          class="nav-link"
          (click)="selectTab('Closed')"
          role="tab"
          id="closeTab"
          aria-controls="Closed"
          aria-selected="false"
          >Closed</a
        >
      </li>
    </ul>
  </div>

  @if(hasLoggedIn==false){
  <div class="container mt-5">
    <h3 class="text-center m-1">You are not logged in</h3>
    <p>Use username:admin and password:1q2w3E*</p>
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-primary btn-lg m-auto" (click)="login()">Login</button>
    </div>
  </div>
  } @if(hasLoggedIn==true){

  <div>
    <div class="container mt-2">
      <h3>{{ selectedTab }}</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Project Name</th>
            <th>Started</th>
            <th>Status</th>
            <th>Project Manager</th>
            <th>Members</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for(project of projectData;track project){
          <tr>
            <td>
              <a
                routerLink="/projects/{{ project.id }}"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                >{{ project.name }}</a
              >
            </td>
            <td>
              <span class="">{{ project?.creationTime | date }}</span>
            </td>
            <td>
              <span class="badge bg-success">{{ project.status }}</span>
            </td>
            <td>
              <span class="text-dark">{{ project.projectManager }}</span>
            </td>
            <td>
              <span class="badge bg-primary text-dark">{{ project.member }}</span>
            </td>
            <td>
              <div class="d-flex flex-row">
                <button class="border mr-1" type="button" (click)="handleEdit(project.id)">
                  <i class="fas fa-edit mr-1"></i>
                </button>
                <button class="border margin-1" type="button" (click)="handleDelete(project.id)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  }
</div>
<abp-modal [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <h3>Update Project</h3>
  </ng-template>

  <ng-template #abpBody>
    <form id="project-form" [formGroup]="projectForm" (ngSubmit)="handleUpdateProject()">
    <div class="form-group row">
      <label for="statusSelect" class="col-sm-2 col-form-label">Status:</label>
      <div class="col-sm-4">
        <select class="form-control" id="statusSelect"  formControlName="status" [value]="selectedProject.status">
          <option value="completed">Completed</option>
          <option value="inprogress">In Progress</option>
          <option value="hold">Hold</option>
          <option value="closed">Closed</option>
        </select>
      </div>
      <label for="numberInput" class="col-sm-2 col-form-label">Number:</label>
      <div class="col-sm-4">
        <input
          type="number"
          class="form-control"
          id="numberInput"
          placeholder="Enter Number"
          formControlName="member"
          [value]="selectedProject.member"
        />
      </div>
    </div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>Close</button>
    <button type="submit" class="btn btn-primary" (click)="handleUpdateProject()" >Save</button>
    </ng-template>
</abp-modal>
